*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
    color: hsl(234, 12%, 34%);
    font-family: 'Poppins', sans-serif;
}
body{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.container-introduction h1{
    font-weight: 200;
    font-size: 30px;
}
.container-introduction h2{
 font-weight: 600;
 font-size: 30px;
 margin-bottom: 20px;
}
.container-introduction p{
    font-weight: 400;
    font-size: 14px;
    max-width: 500px;
    text-align: center;
    color:hsl(229, 6%, 66%);
}
.container-cards{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-cards .card{
    border-radius:  5px;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.1);
    padding:20px;
    max-width: 330px;

    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.container-cards .card h3{
    margin-bottom: 15px;
}
.container-cards .card p{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    color:hsl(229, 6%, 66%);
}
.container-cards .card img{
    align-self: flex-end;
}

.container-cards .left.card{
    border-top: 4px solid hsl(180, 62%, 55%);
}
.container-cards .mean-cards{
    margin: 0 20px;
}
.container-cards .top-mean.card{
    border-top: 4px solid hsl(0, 78%, 62%);
    margin-bottom: 20px;
}

.container-cards .bot-mean.card{
    border-top: 4px solid hsl(34, 97%, 64%);
}

.container-cards .right.card{
    border-top: 4px solid hsl(212, 86%, 64%);
}